---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Podimo Podcast ID Finder">
  <main class="mx-auto mt-24 flex max-w-3xl flex-col justify-center gap-4 p-4 text-center sm:mt-48">
    <h1 class="bold text-5xl font-bold">Podimo Podcast ID Finder</h1>
    <p class="text-lg text-gray-400">Enter the Podimo postcast name or URL and find its ID.</p>
    <form method="POST" class="mt-8" hx-post="/podcast" hx-target=".feedback">
      <div class="flex rounded-full bg-[#794cf8] p-2 shadow-md">
        <label class="w-full" for="q">
          <input type="text" name="q" placeholder="Enter name or URL.." class="w-full appearance-none text-ellipsis rounded-full bg-transparent p-4 text-white placeholder-white outline-none transition-all" autocomplete="off" required />
        </label>
        <button class="group inline-flex items-center gap-2 whitespace-nowrap rounded-full bg-black px-8 py-4 text-white transition-colors hover:bg-white hover:text-black"
          ><svg class="htmx-indicator hidden h-5 w-5 animate-spin text-white group-hover:text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg><span>Search<span class="htmx-indicator hidden">ing..</span></span>
        </button>
      </div>
      <div class="feedback empty:hidden"></div>
    </form>
    <a href="https://luuktimmermans.xyz" target="_blank" title="By Luuk Timmermans"
      ><svg class="absolute bottom-4 right-4 fill-gray-300 transition-colors hover:fill-black" width="17" height="30" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6.46703 2.14892C6.42291 2.14892 6.3788 2.13786 6.33468 2.11573C5.56263 1.87229 4.9119 2.45875 4.38249 3.87509C3.91926 5.13652 3.66559 6.48648 3.62147 7.92495C3.53324 11.7535 4.2722 15.7259 5.83836 19.8422C6.38982 18.0053 6.81997 16.1243 7.12879 14.1989C7.45967 12.2736 7.63614 10.6691 7.65819 9.38556C7.68025 7.85856 7.53687 6.27624 7.22805 4.63859C7.02952 3.57633 6.78688 2.77964 6.50012 2.24851L6.46703 2.14892ZM0.279593 28.5726C0.279593 28.2849 0.378856 28.0525 0.577384 27.8755C1.83472 26.8796 2.98177 25.5407 4.01853 23.8588C3.42294 22.7523 2.92662 21.5462 2.52957 20.2405C1.47076 16.766 1.0737 13.0039 1.33841 8.95401C1.4487 7.40489 1.77958 5.78937 2.33104 4.10746C2.70604 3.0452 3.11412 2.19318 3.55529 1.5514C4.17294 0.666189 4.87881 0.15719 5.67292 0.0244085C6.40085 -0.0862433 7.01849 0.179321 7.52584 0.821102C8.80524 1.48501 9.58832 2.75751 9.87508 4.63859C10.0295 5.5902 10.0295 7.19465 9.87508 9.45195C9.58832 13.9223 8.59568 18.0607 6.89717 21.8671L6.79791 22.1327C7.5479 23.7924 8.40819 25.3194 9.37877 26.7136C9.53318 26.9571 9.55523 27.2116 9.44494 27.4771C9.62141 27.5878 9.80891 27.6984 10.0074 27.8091C10.206 27.9197 10.3383 28.0857 10.4045 28.307C10.4707 28.5283 10.4486 28.7386 10.3383 28.9377C10.228 29.1369 10.0626 29.2697 9.842 29.3361C9.62141 29.4025 9.41185 29.3803 9.21332 29.2697C7.66922 28.4509 6.32365 27.2669 5.1766 25.7178C3.98544 27.8644 2.65089 29.2697 1.17297 29.9336C0.974439 30.0221 0.764882 30.0221 0.544296 29.9336C0.32371 29.8672 0.1693 29.7234 0.0810654 29.5021C-0.0733448 29.148 -0.00716904 28.8382 0.279593 28.5726Z"
        ></path>
        <path
          d="M9.64864 9.61793C10.2442 9.37449 10.9722 9.03147 11.8324 8.58886L12.9905 7.99134L13.0567 7.92495V7.62619C12.9905 5.5902 12.9574 4.3177 12.9574 3.8087C12.9574 3.54314 13.0567 3.3329 13.2552 3.17799V2.54727C13.2552 2.32597 13.3324 2.13786 13.4868 1.98295C13.6633 1.8059 13.8618 1.71738 14.0824 1.71738C14.303 1.71738 14.4905 1.8059 14.6449 1.98295C14.8214 2.13786 14.9096 2.32597 14.9096 2.54727C14.9096 3.67592 14.9206 5.05907 14.9427 6.69672L15.4059 6.43115C15.6045 6.3205 15.814 6.29837 16.0346 6.36476C16.2552 6.43115 16.4206 6.56393 16.5309 6.76311C16.6192 6.94015 16.6412 7.12826 16.5971 7.32743C16.6853 7.70365 16.575 7.99134 16.2662 8.19052L14.9758 9.0536C15.1081 15.7591 14.9537 20.9265 14.5126 24.5559C14.4905 24.7551 14.4023 24.9211 14.2479 25.0539C14.1155 25.1866 13.9611 25.2641 13.7846 25.2862C13.6082 25.6182 13.3435 25.7731 12.9905 25.751C12.7699 25.751 12.5824 25.6624 12.428 25.4854C12.2736 25.3084 12.1964 25.1092 12.1964 24.8879C12.1964 24.8436 12.2185 23.4715 12.2626 20.7716C12.3067 19.0897 12.3839 17.6844 12.4942 16.5558L12.9243 12.9707C12.9905 12.3953 13.0346 11.8531 13.0567 11.3441C13.0787 11.0121 13.0898 10.6802 13.0898 10.3482L10.4427 12.174C10.2442 12.3068 10.0347 12.3621 9.81408 12.34C9.59349 12.2957 9.41702 12.185 9.28467 12.008C9.01997 11.6318 9.04203 11.2777 9.35085 10.9457C9.28467 10.8794 9.22952 10.7908 9.18541 10.6802C9.09717 10.481 9.09717 10.2818 9.18541 10.0827C9.27364 9.86136 9.42805 9.70645 9.64864 9.61793Z"
        ></path>
      </svg>
    </a>
  </main>

  <style lang="scss">
    form {
      &.htmx-request {
        pointer-events: none;
        input,
        button {
          opacity: 0.5;
        }
        .htmx-indicator {
          display: inline;
        }
      }
    }
  </style>
</Layout>
