---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Podimo Podcast ID Finder" description="Find a Podimo Podcast ID by name or URL.">
	<main class="mx-auto my-16 flex max-w-3xl flex-col justify-center gap-4 p-4 text-center sm:mt-48">
		<h1 class="bold text-3xl font-bold md:text-5xl">Podimo Podcast ID Finder</h1>
		<p class="text-md text-gray-400 md:text-lg">Enter the Podimo postcast name or URL and find its ID.</p>
		<form method="POST" class="mt-4" hx-post="/podcast" hx-target=".feedback">
			<div class="flex rounded-full bg-[#794cf8] p-2 shadow-md">
				<label class="w-full" for="q">
					<input type="text" name="q" placeholder="Enter name or URL.." class="w-full appearance-none text-ellipsis rounded-full bg-transparent p-4 text-sm text-white placeholder-white placeholder-opacity-50 outline-none transition-all md:text-lg" autocomplete="off" required />
				</label>
				<button class="group inline-flex items-center gap-2 whitespace-nowrap rounded-full bg-black px-6 py-4 text-sm text-white transition-colors hover:text-black supports-[hover]:hover:bg-white md:px-8 md:text-lg"
					><svg class="htmx-indicator hidden h-5 w-5 animate-spin text-white group-hover:text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
						<circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
						<path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
					</svg><span>Search<span class="htmx-indicator hidden">ing..</span></span>
				</button>
			</div>
		</form>
		<div class="feedback empty:hidden" id="feedback"></div>
		<a href="https://luuk.timmermans.lt" target="_blank" title="By Luuk Timmermans" class="group fixed bottom-4 right-4 max-sm:grid max-sm:h-12 max-sm:w-12 max-sm:place-content-center max-sm:rounded-full max-sm:bg-black/10 max-sm:backdrop-blur-md"
			><svg class="h-auto fill-black/20 transition-colors group-hover:fill-black max-sm:fill-black" width="17" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M6.46703 2.14892C6.42291 2.14892 6.3788 2.13786 6.33468 2.11573C5.56263 1.87229 4.9119 2.45875 4.38249 3.87509C3.91926 5.13652 3.66559 6.48648 3.62147 7.92495C3.53324 11.7535 4.2722 15.7259 5.83836 19.8422C6.38982 18.0053 6.81997 16.1243 7.12879 14.1989C7.45967 12.2736 7.63614 10.6691 7.65819 9.38556C7.68025 7.85856 7.53687 6.27624 7.22805 4.63859C7.02952 3.57633 6.78688 2.77964 6.50012 2.24851L6.46703 2.14892ZM0.279593 28.5726C0.279593 28.2849 0.378856 28.0525 0.577384 27.8755C1.83472 26.8796 2.98177 25.5407 4.01853 23.8588C3.42294 22.7523 2.92662 21.5462 2.52957 20.2405C1.47076 16.766 1.0737 13.0039 1.33841 8.95401C1.4487 7.40489 1.77958 5.78937 2.33104 4.10746C2.70604 3.0452 3.11412 2.19318 3.55529 1.5514C4.17294 0.666189 4.87881 0.15719 5.67292 0.0244085C6.40085 -0.0862433 7.01849 0.179321 7.52584 0.821102C8.80524 1.48501 9.58832 2.75751 9.87508 4.63859C10.0295 5.5902 10.0295 7.19465 9.87508 9.45195C9.58832 13.9223 8.59568 18.0607 6.89717 21.8671L6.79791 22.1327C7.5479 23.7924 8.40819 25.3194 9.37877 26.7136C9.53318 26.9571 9.55523 27.2116 9.44494 27.4771C9.62141 27.5878 9.80891 27.6984 10.0074 27.8091C10.206 27.9197 10.3383 28.0857 10.4045 28.307C10.4707 28.5283 10.4486 28.7386 10.3383 28.9377C10.228 29.1369 10.0626 29.2697 9.842 29.3361C9.62141 29.4025 9.41185 29.3803 9.21332 29.2697C7.66922 28.4509 6.32365 27.2669 5.1766 25.7178C3.98544 27.8644 2.65089 29.2697 1.17297 29.9336C0.974439 30.0221 0.764882 30.0221 0.544296 29.9336C0.32371 29.8672 0.1693 29.7234 0.0810654 29.5021C-0.0733448 29.148 -0.00716904 28.8382 0.279593 28.5726Z"
				></path>
				<path
					d="M9.64864 9.61793C10.2442 9.37449 10.9722 9.03147 11.8324 8.58886L12.9905 7.99134L13.0567 7.92495V7.62619C12.9905 5.5902 12.9574 4.3177 12.9574 3.8087C12.9574 3.54314 13.0567 3.3329 13.2552 3.17799V2.54727C13.2552 2.32597 13.3324 2.13786 13.4868 1.98295C13.6633 1.8059 13.8618 1.71738 14.0824 1.71738C14.303 1.71738 14.4905 1.8059 14.6449 1.98295C14.8214 2.13786 14.9096 2.32597 14.9096 2.54727C14.9096 3.67592 14.9206 5.05907 14.9427 6.69672L15.4059 6.43115C15.6045 6.3205 15.814 6.29837 16.0346 6.36476C16.2552 6.43115 16.4206 6.56393 16.5309 6.76311C16.6192 6.94015 16.6412 7.12826 16.5971 7.32743C16.6853 7.70365 16.575 7.99134 16.2662 8.19052L14.9758 9.0536C15.1081 15.7591 14.9537 20.9265 14.5126 24.5559C14.4905 24.7551 14.4023 24.9211 14.2479 25.0539C14.1155 25.1866 13.9611 25.2641 13.7846 25.2862C13.6082 25.6182 13.3435 25.7731 12.9905 25.751C12.7699 25.751 12.5824 25.6624 12.428 25.4854C12.2736 25.3084 12.1964 25.1092 12.1964 24.8879C12.1964 24.8436 12.2185 23.4715 12.2626 20.7716C12.3067 19.0897 12.3839 17.6844 12.4942 16.5558L12.9243 12.9707C12.9905 12.3953 13.0346 11.8531 13.0567 11.3441C13.0787 11.0121 13.0898 10.6802 13.0898 10.3482L10.4427 12.174C10.2442 12.3068 10.0347 12.3621 9.81408 12.34C9.59349 12.2957 9.41702 12.185 9.28467 12.008C9.01997 11.6318 9.04203 11.2777 9.35085 10.9457C9.28467 10.8794 9.22952 10.7908 9.18541 10.6802C9.09717 10.481 9.09717 10.2818 9.18541 10.0827C9.27364 9.86136 9.42805 9.70645 9.64864 9.61793Z"
				></path>
			</svg>
		</a>
	</main>
</Layout>

<style is:global>
	.feedback {
		& button {
			& .icon {
				content: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.60002 10.6V11.8C8.60002 12.1183 8.4736 12.4235 8.24855 12.6485C8.02351 12.8736 7.71828 13 7.40002 13H2.60002C2.28176 13 1.97654 12.8736 1.7515 12.6485C1.52645 12.4235 1.40002 12.1183 1.40002 11.8V5.2C1.40002 4.88174 1.52645 4.57652 1.7515 4.35147C1.97654 4.12643 2.28176 4 2.60002 4H3.80002M3.80002 2.2V9.4C3.80002 9.71826 3.92645 10.0235 4.1515 10.2485C4.37654 10.4736 4.68176 10.6 5.00002 10.6H9.80002C10.1183 10.6 10.4235 10.4736 10.6486 10.2485C10.8736 10.0235 11 9.71826 11 9.4V4.1452C11 3.98534 10.968 3.82709 10.906 3.67975C10.844 3.53241 10.7531 3.39894 10.6388 3.2872L8.64982 1.342C8.42564 1.12279 8.12457 1.00004 7.81102 1H5.00002C4.68176 1 4.37654 1.12643 4.1515 1.35147C3.92645 1.57652 3.80002 1.88174 3.80002 2.2Z' stroke='%23fff' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				&.copied {
					content: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.02 8.26L4.515 6.755C4.38667 6.62667 4.22333 6.5625 4.025 6.5625C3.82667 6.5625 3.66333 6.62667 3.535 6.755C3.40667 6.88333 3.3425 7.04667 3.3425 7.245C3.3425 7.44333 3.40667 7.60667 3.535 7.735L5.53 9.73C5.67 9.87 5.83333 9.94 6.02 9.94C6.20667 9.94 6.37 9.87 6.51 9.73L10.465 5.775C10.5933 5.64667 10.6575 5.48333 10.6575 5.285C10.6575 5.08667 10.5933 4.92333 10.465 4.795C10.3367 4.66667 10.1733 4.6025 9.975 4.6025C9.77667 4.6025 9.61333 4.66667 9.485 4.795L6.02 8.26ZM7 14C6.03167 14 5.12167 13.8161 4.27 13.4484C3.41833 13.0807 2.6775 12.582 2.0475 11.9525C1.4175 11.3225 0.918867 10.5817 0.5516 9.73C0.184333 8.87833 0.000466667 7.96833 0 7C0 6.03167 0.183867 5.12167 0.5516 4.27C0.919333 3.41833 1.41797 2.6775 2.0475 2.0475C2.6775 1.4175 3.41833 0.918867 4.27 0.5516C5.12167 0.184333 6.03167 0.000466667 7 0C7.96833 0 8.87833 0.183867 9.73 0.5516C10.5817 0.919333 11.3225 1.41797 11.9525 2.0475C12.5825 2.6775 13.0814 3.41833 13.4491 4.27C13.8168 5.12167 14.0005 6.03167 14 7C14 7.96833 13.8161 8.87833 13.4484 9.73C13.0807 10.5817 12.582 11.3225 11.9525 11.9525C11.3225 12.5825 10.5817 13.0814 9.73 13.4491C8.87833 13.8168 7.96833 14.0005 7 14Z' fill='%2300A861'/%3E%3C/svg%3E%0A");
				}
			}
		}
	}
</style>

<style>
	form {
		&.htmx-request {
			pointer-events: none;
			input,
			button {
				opacity: 0.5;
			}
			& .htmx-indicator {
				display: inline;
			}
		}
	}
</style>

<script>
	document.body.addEventListener("click", async (event) => {
		const target = event.target as HTMLElement;
		const podcastId = document.getElementById("podcast-id");
		const icon = document.querySelector(".icon");

		if (target && target.closest(".copy")) {
			let text = podcastId.innerText;

			await navigator.clipboard.writeText(text);
			icon.classList.add("copied");

			setTimeout(() => {
				icon.classList.remove("copied");
			}, 2000);
		}
	});
</script>
